@media (max-width:990px){
    .trading-slider-control .swiper-button-next{
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}
@media (max-width:450px) {
    .trading-slider-control .swiper-button-next{
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}
@media (max-width:990px){
    .trading-slider-control .swiper-button-next{
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}
@media (max-width:450px) {
    .trading-slider-control .swiper-button-next{
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}
